@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 24 9.8% 10%; /* Almost Black */
    --card: 0 0% 100%; /* White */
    --card-foreground: 24 9.8% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 9.8% 10%;
    --primary: 45 65% 51%; /* Gold from Logo */
    --primary-foreground: 0 0% 98%;
    --secondary: 40 50% 96%; /* Light Cream */
    --secondary-foreground: 24 9.8% 10%;
    --muted: 240 4.8% 95.9%; /* Light Gray */
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 45 90% 85%; /* Light Gold/Peach */
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%; /* Gray Border */
    --input: 240 5.9% 90%;
    --ring: 45 95% 51%;
    --chart-1: 45 95% 51%;
    --chart-2: 45 90% 85%;
    --chart-3: 35 85% 60%;
    --chart-4: 40 90% 65%;
    --chart-5: 50 95% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 24 9.8% 10%;
    --foreground: 0 0% 98%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 24 9.8% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 65% 51%;
    --primary-foreground: 0- 0% 98%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 45 90% 75%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 45 95% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full py-12 md:py-24 px-4 sm:px-6;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
  html {
    @apply scroll-smooth;
  }
  input::placeholder, textarea::placeholder {
      @apply text-sm;
  }
  input, textarea {
      @apply text-sm;
  }
}

@layer utilities {
  @keyframes blink-green {
    0%, 40%, 100% {
      color: inherit;
    }
    50% {
      color: #25D366; /* WhatsApp Green */
    }
  }
  .animate-blink-whatsapp {
    animation: blink-green 2.5s infinite;
    animation-delay: 5s;
  }
  
  @keyframes glowing-border {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .animate-glowing-border {
    animation: glowing-border 6s linear infinite;
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  .preloader-draw {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 2s ease-in-out forwards;
  }
}
